.container {
  width: fit-content;
  padding: 20px;
  background-color: rgb(40, 35, 35);
  border-radius: 20px;
}

.light {
  width: 60px;
  height: 60px;
  margin: 20px 0;
  border-radius: 50%;
}

.off {
  background-color: rgb(75, 77, 75);
  box-shadow: none;
}
.knapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
button {
  width: 70px;
  margin: 5px 5px;
  border-radius: 5px;
}

.btn {
  width: 150px;
  height: 55px;
  margin: 5px;
}

.red {
  background-color: rgb(201, 24, 24);
  box-shadow: 0 0 15px rgb(194, 50, 50);
}
.yellow {
  background-color: rgb(211, 211, 31);
  box-shadow: 0 0 15px rgb(211, 211, 31);
}
.green {
  background-color: rgb(15, 129, 15);
  box-shadow: 0 0 15px rgb(15, 129, 15);
}
